*.csproj
*.log
*.meta
*.sln
*.sln.user
*.suo
*.unityproj
.DS_Store
.idea/
.plastic/
.vs/
.vsconfig
app/
Assembly-CSharp.csproj.user
Builds/
ExportedObj/
ignore.conf
Library/
Logs/
obj/
Temp/
UserSettings/
